.container {
    display: grid;
    width: 30%;
    grid-template-columns: auto auto;
}
.box {
    box-sizing: border-box;
    /* width: 150px; */
    height: 100px;
    display: inline-block;
    color: black;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-style: solid;
    border-width: 1px;
}